/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/* List Style Reset */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    display: inline-block;
}

/* Heading Margin Reset */
h1, h2, h3, h4, h5, h6, p, pre {
    margin: 0;  
}

pre {
    font-family: inherit;
}

/* Anchor Styling */
a {
    color: #6a7dfe;
    text-decoration: none;
}

a:hover {
    color: #6a7dfe;
}

/******************************************/
/* BASE STYLES
/******************************************/

html {
    font-family: 'Roboto', sans-serif;
}

/* Forms */


/******************************************/
/* LAYOUT
/******************************************/
/*  */


/******************************************/
/* ADDITIONAL STYLES
/******************************************/
